# Chapman Research Group Website
# Japandi-inspired minimal academic group site

# Site Settings
title: "Chapman Research Group"
title_separator: "-"
name: "Chapman Research Group"
description: "Atmospheric Science Research at CU Boulder"
url: "https://willychap.github.io"
baseurl: ""
repository: "willychap/willychap.github.io"

# Author/PI Information
author:
  name: "Will Chapman"
  title: "Assistant Professor"
  institution: "University of Colorado Boulder"
  department: "Atmospheric and Oceanic Sciences"
  location: "Boulder, CO"
  email: "wchapman@colorado.edu"
  github: "WillyChap"
  scholar: "https://scholar.google.com/citations?user=C1ox2CEAAAAJ&hl=en"
  orcid: "https://orcid.org/0000-0002-0472-7069"
  twitter: "@WillEricChapman"

# Build Settings
markdown: kramdown
highlighter: rouge
permalink: pretty
timezone: America/Denver

# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - node_modules
  - package.json
  - tmp
  - vendor
  - _drafts
  - _posts
  - _portfolio
  - _talks
  - _teaching
  - markdown_generator
  - talkmap

keep_files:
  - .git
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections (optional for future use)
collections:
  projects:
    output: true
    permalink: /research/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "page"

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# HTML Compression (optional)
compress_html:
  clippings: all
  comments: all
  endings: all
  startings: []
  blanklines: false
  profile: false
  ignore:
    envs: development
